@import "../../node_modules/materialize-css/sass/materialize";

html, body {
    min-width:150px;
    background-color: #E2E4E6;
    font-family: "Roboto Mono",serif;
}

.header h4 {
    letter-spacing: 2px;
    color:black;
    font-size: 36px;
    color: white;
    margin:0;
    padding: 0.5rem;
}

.border {
    border-bottom: 1px solid #ddd;
}

.border {
    margin-top: 0.1rem;
}

.header-top{
    height: 0.8rem;
}